<!DOCTYPE html>
<html lang="en" data-taler-nojs="true">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8"/>
  <title>Taler Demonstration Framework</title>
  <link rel="stylesheet" type="text/css" href="static/web-common/style.css" />
  <link rel="stylesheet" type="text/css" href="static/web-common/taler-fallback.css" id="taler-presence-stylesheet" />
  <link rel="icon" type="image/png" href="static/web-common/favicon-taler.ico" />

  <style type="text/css">
    a[disabled="true"] {
    pointer-events: none;
    color: grey;
    }

    .bluebox {
      background-color: #C2C6FF;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
    .greenbox {
      background-color: #5EFF64;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
    .graybox {
      background-color: #DDDDDD;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
  </style>
</head>

<body>

  <header>
    <a href="." id="logo">
      <img src="static/web-common/logo-2015-medium.png" width="100" height="100" alt="Logo">
    </a>
    <!--#include virtual="static/web-common/dropdown-navbar.html"-->
    <h1 class="nav">Taler Demo</h1>
  </header>

  <aside class="sidebar" id="left">
  </aside>

  <section id="main">
    <article>
      <h2>Step 1: Install the Taler wallet</h2>
        Install the wallet from the <a href="https://taler.net/wallet-installation.html">installation page</a>.
        It only takes one click.
      <p class="bluebox taler-installed-hide">
        You don't have a wallet installed yet.
      </p>
      <p class="greenbox taler-installed-show">
        Congratulations, you have installed the Taler wallet correctly.
        You can now proceed with the next steps.
      </p>
    </article>

    <article>
      <h2>Step 2: Withdraw coins</h2>
      <p>

        Now you can withdraw coins into your wallet by going to our <a href="bank">bank</a>.

        In this demo you're paying with KUDOS, an imaginary currency.  When you
        create an account at our bank, you'll get 100 KUDOS for free.
      </p>
      <p class="graybox">
        We can't check if you were able to complete this step, since websites
        can't see the balance in your wallet.  Please click on the Taler icon
        in your browser to check your balance.
      </p>
    </article>

    <article>
      <h2>Step 3: Pay</sup></h2>
        We have two demo merchants where you can spend your coins:
        <ul>
          <li>
            The <a href="shop">essay store</a>, where you can pay KUDOS for
            individual chapters of Richard Stallman's book "Free Software, Free
            Society", which is also available for free at <a href="http://www.fsf.org/">the FSF</a>.
          </li>
          <li>
            The <a href="donations">project donation Web site</a>, where
            you can show respect to a software project of your choice
            by giving them KUDOS.
          </li>
        </ul>
    </article>
    <article>
      <h2>Step 4: Back office</sup></h2>
        Finally, you can take the perspective of the merchant, who just
        sold articles using taler.
        <ul>
          <li>
            The <a href="block/track">back office Web site</a>
            allows you to track the transactions of the merchant.
          </li>
          <li>
            The <a href="bank/public-accounts">public accounts page</a> at the bank
            allow you to observe transactions of certain bank accounts, including
            those of the shops, from the perspective of the bank.
          </li>
        </ul>
    </article>
    <article>
      <h2>Step 5: Reach out to us</sup></h2>
      Let us know what you think by <a href="mailto:demo-feedback@taler.net">contacting us</a>.
    </article>
  </section>
  <div class="copyright">
    <p>Copyright &copy; 2014&mdash;2016 INRIA</p>
    <a href="/javascript" data-jslicense="1" class="jslicenseinfo">JavaScript license information</a>
  </div>
</body>
</html>
